
<ion-content [fullscreen]="true">
  <div>
    <div class="row justify-content-center">
      <ion-img src="assets/icon_guia_medico.png" class="logo mt-5 pt-5"></ion-img>
      <p class="text-center mt-3">Ola, {{nome}}</p>
    </div>
  </div>

  <div class="row justify-content-center m-5">
    <button class="col-12 bg-white rounded-3 funcao shadow row justify-content-center" routerLink="/gerar-receita"> 
      <ion-img src="assets/icones/formulario-de-contato.png" class="icones mt-4 mb-2"></ion-img>
      <p class="text-center">Gerar Receita</p>
    </button>

    
    <div class="d-flex justify-content-between mt-4">
      <button class="col-6 bg-white rounded-3 funcao shadow row justify-content-center">
        <ion-img src="assets/icones/do-utilizador.png" class="icones mt-4 mb-2"></ion-img>
        <p class="text-center">Seus dados</p>
      </button>

      <button class="col-6 bg-white rounded-3 funcao shadow row justify-content-center ml-5"> 
        <ion-img src="assets/icones/definicoes.png" class="icones mt-4 mb-2"></ion-img>
        <p class="text-center">Ajustes</p>
      </button>
    </div>
    
    <a (click)="logout()" id="sair" class="text-center text-danger"><fa-icon class="fa-lg text-danger" [icon]="faSignOut"></fa-icon> Sair</a>
  </div>
  
</ion-content>
